@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import "tailwindcss";



@theme {
  --font-display: "Merriweather", serif;
  --color-background-white: #F3F3F3;
  --color-background-black: #181717;
  --color-text-black: #121212;
  --color-text-white: #FFFFFF;
  --color-main-grey: #606060;

}
body {
  background-color: var(--color-background-white);
  color: var(--color-text-black);
  transition: background-color 0.3s ease, color 0.3s ease;
}

html.dark body {
  background-color: var(--color-background-black);
  color: var(--color-text-white);
}
